tee_extension_registry = "0xdE25c06982Ab8e4b6B4F910896E3f93Ac77FB44d"

is_cosigner = false

# C-chain indexer db
[db]
host = "localhost"
port = 3306
database = "flare_ftso_indexer"
username = "root"
password = "root"
log_queries = false


[logger]
max_file_size = 10 # 10MB
file = ""
level = "INFO"
console = true


# credentials for signer
[signer]
local = false
private_key_variable = "PRIVATE_KEY"
url = ""
key_name = ""
key = ""


[fdc.queues.availability]
max_dequeues_per_second = 100 # zero for unlimited
max_workers = 50              # zero for unlimited
max_attempts = 3
time_off = "2s"

[fdc.queues.pmw]
max_dequeues_per_second = 100 # zero for unlimited
max_workers = 50              # zero for unlimited
max_attempts = 3
time_off = "2s"


[fdc.verifiers.availability]
type = "TeeAvailabilityCheck"
source = "TEE"
queue = "availability"
server.url = ""
server.key_name = "X-API-KEY"
server.key = ""


[fdc.verifiers.payment]
type = "PMWPaymentStatus"
source = "XRP"
queue = "pmw"
server.url = ""
server.key_name = "X-API-KEY"
server.key = ""


[fdc.verifiers.account]
type = "PMWMultisigAccountConfigured"
source = "XRP"
queue = "pmw"
server.url = ""
server.key_name = "X-API-KEY"
server.key = ""
